.hidden {
  display: none;
}

body {
  font-family: 'Calibri';
  line-height: 26px;
  background-color: #dcdcdc;
  text-align: center;
}

h1 {
  font-family: 'Trebuchet MS';
  background-color: #cccccc;
  width: 350px;
  margin-left: 44px;
}

.container-fluid {
  width: 98%;
  margin-top: 20px;
}

.image {
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 24px;
  background-color: #bbbbbb;
  height: 666px;
}

img {
  max-width: 100%;
  height: auto;
}